.footer{
    padding: calc($separacion /2) 0 ;
    background-color: $grisOscuro;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }
    justify-content: center;

    .contenedor-footer{
        
        margin-left: 0;
        margin-right: 0;
        max-width: 60rem;
    }

    .copyright{
        color: $blanco;
        text-align: center;
        line-height: 1.3;
        margin: 2rem 5rem;
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
        justify-content: center;
        
    }
}